<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eventbrote</title>
</head>
<body>
    <h1>{{ events|length }} Evénements</h1>

    {{ "now"|date('d/m/Y H:i:s') }}

    <uL>
        {% for event in events %}
            <li>{{ event }}</li>
        {% endfor %}
    </ul>
</body>
</html>









